venv/
*.pyc
*.log
*.fls
*.fdb_latexmk
*.gz
*.aux
*.jpg
*.bbl
*.blg
model.json
model_weights.h5
models/*.pth
models/*.py
.idea/
*.pth
*.pt
.ipynb_checkpoints
wandb
model
real_world/temp
NaoRobotProjectData/
NaoPickAndPlaceData/
NaoPushingData/
*.pkl
*.out